/*#9E3FFD
https://static.wixstatic.com/media/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png/v1/fill/w_980,h_902,al_br,q_90,usm_0.66_1.00_0.01,enc_auto/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png
https://tuboi24.wixsite.com/hermonhilltraders/home
*/

.link {
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background-color: #B87BFD;
    width: fit-content;
	color: white;

    transition: all 300ms ease-in-out;
}

.link:hover {
    background-color: #0f0f0f;
}

a:hover {
	color: #9E3FFD;
}

footer {
	background-color: #16163F;
	color: white;
	padding: 2rem;
	text-align: center;
}
