/* This is the stylesheet for the subscriptions section */
#subscriptions {
	display: flex;
	flex-direction: column;
	background-color: white;
}

.subscriptions_1 {
	flex-basis: 30%;
	padding: 3rem;
}

.subscriptions_2 {
	flex-basis: 70%;
	padding: 3rem;
}

#subscriptions h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

#subscriptions p, #subscriptions li {
	font-size: 1.25rem;
}

.subscriptions_2 > h1 {
	color: #692AA9;
}

.level_2_list {
	padding-left: 4rem;
}

@media screen and (min-width: 768px) {
	#subscriptions {
		flex-direction: row;
	}
}
